<img src="http://deckofcardsapi.com/static/img/0S.png"></img>
	<p><figcaption><strong>10</strong> of SPADES</figcaption></p>
	<img src="http://deckofcardsapi.com/static/img/9D.png"></img>
	<p><figcaption><strong>9</strong> of DIAMONDS</figcaption></p>
	<img src="http://deckofcardsapi.com/static/img/JH.png"></img>
	<p><figcaption><strong>JACK</strong> of HEARTS</figcaption></p>
	<img src="http://deckofcardsapi.com/static/img/KD.png"></img>
	<p><figcaption><strong>KING</strong> of DIAMONDS</figcaption></p>
	<img src="http://deckofcardsapi.com/static/img/0D.png"></img>
	<p><figcaption><strong>10</strong> of DIAMONDS</figcaption></p>
	<img src="http://deckofcardsapi.com/static/img/4D.png"></img>
	<p><figcaption><strong>4</strong> of DIAMONDS</figcaption></p>
	<img src="http://deckofcardsapi.com/static/img/8S.png"></img>
	<p><figcaption><strong>8</strong> of SPADES</figcaption></p>
	<img src="http://deckofcardsapi.com/static/img/8H.png"></img>
	<p><figcaption><strong>8</strong> of HEARTS</figcaption></p>
	<img src="http://deckofcardsapi.com/static/img/QH.png"></img>
	<p><figcaption><strong>QUEEN</strong> of HEARTS</figcaption></p>
	<img src="http://deckofcardsapi.com/static/img/5S.png"></img>
	<p><figcaption><strong>5</strong> of SPADES</figcaption></p>